@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

html, body {
  height:100%;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
  width: 100%;
}
.main-text{
    font-size: 50px;
    font-size: bold;
}
html {
  /* background: url('../images/background_image.jpg') fixed; */
  background-size: 100%;
}
li a{
    text-decoration: none;
    color: #000;
}
#information{
    background-color: #fff;
    width: 100%;
}
div {
  overflow: hidden;
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

p {
  padding: 0 5%;
}

img {
  box-shadow: 0px 0px 4px #000;
}

#header {
  background: rgba(255, 255, 255, .5);
  padding: 1%;
  overflow: hidden;
  height: 55px;
}
#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.fullscreen {
  height: 95%;
  background-image: url("../images/banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}
.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}

.white {
  background: #eeeeec;
  padding: 0 5%;
}
.nobg {
  background: none;
  padding: 0 5%;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.semitrans {
  background: rgba(255, 255, 255, .5);
  padding: 0 5%;
}
.dark {
  color: #eeeeec;
  background: #010105;
  padding: 0 5%;
}

.nopadding {
  padding: 0;
}

.floatleft {
  float: left;
  margin: 2%;
}
.floatright {
  float: right;
  margin: 2%;
}

.more {
  text-align: center;
  font-size: 17px;
}
.more a {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.more a:hover {
  color: #777;
}
.grid {
    column-count: 3;
    column-gap: 0;
    overflow-x: hidden;
    background-color: #F2EEE9;
    width: 100%;
  }
  .grid img {
    display: block;
    max-width: 100%;
    opacity: 0.5;
    z-index: 100;
    transition: 250ms;
    position: relative;
  }
  .grid img:hover {
    opacity: 1;
    box-shadow: 0 0 15px black;
    z-index: 200;
  }